extends layout 

block content 
    .container-fluid.shadow.col-xl-8(style='height:80vh;').p-3.mb-3
        .container-fluid.p-3.mb-3
        .px-3.py-2.my-4.text-center
            img.d-block.mx-auto.mb-4(src='/android-chrome-512x512.png' alt='' width='15%' height='auto')
            h1.display-4.fw-bold Travel Experts
            h2.display-5.fw-bold Dream. Explore. Discover.
            .col-lg-6.mx-auto
            p.lead.mb-4.fs-3.fst-italic.text-black.text-wrap
                | Our passion is helping travellers to discover the world and live out their dreams.
            
            h5.text-black-wrap.col-6.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.  
    button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#staticBackdrop')
        | Launch static backdrop modal
        // Modal
    #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#staticBackdropLabel.modal-title Modal title
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Understood

    .container
  
          img(src='/images/img1.jpg', alt='Beach view', title='Welcome to Travel Experts', width='50%', height='345')
          img(src='/images/img2.jpg', alt='closer', title='Welcome to Travel Experts', width='50%', height='345')