extends layout 

block content
    .container-fluid.shadow-lg.p-3.mb-3.rounded.col-xl-8
        h1.text-center #{title}
        if !hideLogin
            .container-fluid.shadow.p-3.mb-3.rounded.col-xl-8.col-md-4
                h1.text-center Register
                form(action="/account/register", method="post").d-flex.flex-column.align-items-center
                    .col-md-8.mt-3
                        label(for="username") Username
                        input.form-control(name="username" placeholder="Username" type="text")
                    .col-md-8.mt-3
                        label(for="password") Password
                        input.form-control(name="password" type="password")
                    .col-md-8.mt-3
                        label(for="fname") First Name
                        input.form-control(name="fname" placeholder="First Name" type="text")
                    .col-md-8.mt-3
                        label(for="lname") Last Name
                        input.form-control(name="lname" placeholder="Last Name" type="text")
                    .col-md-8.mt-3
                        label(for="address") Address
                        input.form-control(name="address" placeholder="Adress" type="text")
                    .col-md-8.mt-3
                        label(for="city") City
                        input.form-control(name="city" placeholder="City" type="text")
                    .col-md-8.mt-3                                    
                        label(for="province") Province
                        input.form-control(name="province" placeholder="Province" type="text")
                    .col-md-8.mt-3
                        label(for="postalCode") Postal Code
                        input.form-control(name="postalCode" placeholder="Postal Code" type="text")
                    .col-md-8.mt-3
                        label(for="country") Country
                        input.form-control(name="country" placeholder="Country" type="text")
                    .col-md-8.mt-3
                        label(for="phone") Phone#
                        input.form-control(name="phone" placeholder="Phone" type="text")
                    .col-md-8.mt-3
                        label(for="email") Email
                        input.form-control(name="email" placeholder="Email Address" type="email")
                    .col.m-3
                        button.btn.btn-primary(type="submit") Register
                a(href="/account") Go back    
        
        if hideLogin
            .container-fluid.shadow.p-3.mb-3.rounded.col-xl-8.col-md-4
                h1.text-center Login
                form.row.g-3.my-3.d-flex.flex-column.align-items-center.text-center(method='post' action="/account/login")
                    .col-md-6
                        label(for="username") Username
                        input.form-control(name="username" placeholder="Username" type="text")
                    .col-md-6
                        label(for="password") Password
                        input.form-control(name="password" type="password")
                    .col-md-6.d-flex.justify-content-around
                        button.btn.btn-primary(type="submit" href="#") Login
                        button.btn.btn-primary(type="submit" href="/") Go Back
            .container-fluid.shadow.p-3.mb-3.rounded.col-xl-8.col-md-4.text-center 
                p if you are a new user, Please Register 
                    a(href="/account/register") here 
    if errors 
        each error in errors 
            p #{error}
    
                    
            
                

