body {
  padding: 1rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: hsl(0, 0%, 96%);
}

a {
  color: #00b7ff;
}
